# Node.js dependencies
/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Environment variables
.env
!.env.example  # Do not ignore .env.example

# Build output
/dist

# Misc
.DS_Store
